<div class='container py-5'>

  <% if user_signed_in? && current_user.super_admin %>
    <%= link_to 'My Congregation(s)', admin_congregations_path, class: 'btn btn-primary btn-lg' %>
    <%= link_to 'Users', admin_users_path, class: 'btn btn-primary btn-lg' %>
    <%= link_to 'Rotas', admin_rotas_path, class: 'btn btn-primary btn-lg' %>
  <% end %>

  <% if @rotas.present?  %>
    <% @rotas.each do |rota| %>
      <h1><%= rota.month %></h1>
      <% if rota.attachment.attached? %>
        <%= rota.attachment.filename %>
        <iframe src=<%= "#{url_for(rota.attachment)}#view=fitH#toolbar=0" %> width="100%" height="1200"></iframe>
      <% end %>
    <% end %>
  <% end %>
</div>
